/* Page background */
body {
  background-color: rgb(204, 204, 204);
}

/* Headings styling */
h1, h2 {
  text-align: center;
}

/* Song list styles */
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

/* Player containers */
.player_one,
.player_two {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: fit-content;
}
