body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

a {
  text-decoration-line: none;
  color: blue;
  font-weight: bold;
}

.player_one, .player_two {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
}
